{{> header}}
<div align='center'>
<h1>Welcome to ATN Toys</h1>
<img src="https://assets.simpleviewinc.com/simpleview/image/upload/crm/bucks/VR-Multi-Sparc-High-Tech-Sports-Comp_13D7E072-498B-4CA2-9891E1621D86DA1C_349642d0-6746-4f79-a968929494c78c06.jpg" height="100%" width="100%">
</div>
{{> footer}}